* {
    box-sizing: border-box;
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 247, 255);
}


/* Body and Links */
body {
    margin: 0;
    font-family: "Inter";
    background-image: url(/assets/bg-image.jpg);
    background-size: cover;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Container to contain content */
.container {
    padding: 0 180px;
}

/* Header */
header {
    line-height: 120px;
    height: 120px;
}

/* H-Left */
.header-left a:hover {
    color: #14ffec;
}

/* H-Right */
.header-right {
    float: right;
}

.header-right a {
    margin-left: 20px;
    font-weight: 300;
    opacity: 0.5;
}

.navbtn:hover {
    opacity: 1;
    color: #14ffec;
}

/* Social Bar */
.socialbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.socialbar ul {
    list-style: none;
}

.socialbar img {
    width:20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Content */
.content {
    margin-top: 100px;
    display: flex;
}

.content-l img {
    width: 500px;
}

.content-r {
    margin-left: 250px;
}

/* Content Right */
#title, .content-header h1 {
    margin-top: 45px;
    margin-bottom: 75px;
    line-height: 88%;
    font-size: 80px;
    font-weight: 900;
    color: #14ffec;
}

#slider {
    display: inline-flex;
    transition: 0.8s;
}

.msg-slide {
    width: 600px;
    height: 120px;
}

.content-caption {
    width: 600px;
    overflow: hidden;
}

.content-caption p {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Slide Number */

.content-slide {
    float: right;
}

.content-slide h1, #slide-num {
    display: inline;
    font-size: 90px;
    font-weight: 900;
    color: #14ffec;
    border-bottom: 2px solid #14ffec;
    transition: 0.5s;
}

/* Slide Control */
.slide-control {
    background-color: #fff;
    width: 1px;
    height: 320px;
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

#line1, #line2, #line3, #line4 {
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}

#active {
    width: 6px;
    height: 80px;
    background: #14ffec;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.8s;
    border-radius: 3px;
}

/* Transition  */

.main {
    animation: fadeIn 2s;
}



/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn4 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
